<footer class="section footer-classic text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <a class="brand" routerLink="/"
          ><img class="brand-logo" src="assets/qa-logo-white.png" alt="Question An Answers Application"
        /></a>
        <!-- Rights-->
        <p class="rights">
          <span>© </span><span class="copyright-year">2019</span><span> </span><span>Question & Answers</span
          ><span>. </span><span>All Rights Reserved.</span>
        </p>
      </div>
      <div class="col-md-3">
        <p class="company-info">
          We are an top rated Question and Answers Forum, dedicated to the support developers to achieve best result in
          coding to make a better community.
        </p>
      </div>
      <div class="col-md-3">
        <h5>Contact</h5>
        <dl class="contact-list">
          <dt>Address:</dt>
          <dd>798 South Park Avenue, New York, United States of America</dd>
        </dl>
        <dl class="contact-list">
          <dt>Email:</dt>
          <dd><a href="mailto:support@qanda.com">support@qanda.com</a></dd>
        </dl>
      </div>
      <div class="col-md-2">
        <dl class="phones-list">
          <dt>Phones:</dt>
          <dd><a href="tel:+1234567890">+1 (234) 567890</a></dd>
          <dd><a href="tel:+1234567890">+1 (234) 567890</a></dd>
          <dd><a href="tel:+1234567890">+1 (234) 567890</a></dd>
        </dl>
      </div>
    </div>
  </div>
</footer>
