/* You can add global styles to this file, and also import other style files */

html,body{
  height: 100%;
}

#loaderParent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  z-index: 10;
}

.question-text .question-link p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
